<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form id="add_gay"  method="post" >
    <table >
        <tr>
            <td>
                姓名
            </td>
            <td>
                年龄
            </td>
        </tr>
        <tr>
            <td>
                <input id="name">
            </td>
            <td>
                <input id="age">
            </td>
        </tr>
    </table>
    <INPUT TYPE=SUBMIT [NAME='BUTTON-ID'][VALUE="BUTTON LABLE TEXT"]>
</form>
</body>
</html>