{% extends "base.html" %}
{% block title %}add some gays{% endblock %}
{% block content %}
<div>
    {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
    {% endif %}

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit"   [NAME='BUTTON-ID'][VALUE="BUTTON LABLE TEXT"]>
    </form>

</div>
{% endblock %}